body {
    height: 100%;
}

.logo {
    width: 200px;
}

.navbar-fixed-top .navbar-nav>li>a {
    color: white;
}

.navbar-default {
    position: absolute;
    background-color: #0B1637;
    border-color: #0B1637;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #5bc0de;
    color: white;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.min-height-in {
    min-height: inherit;
}

.timer {
    color: white;
    margin-left: 10px;
}


/**************SIGNUP PAGE ********************/

.graphics {
    background: url(/assets/img/login.jpg) no-repeat left bottom;
    background-size: cover;
    height: 100vh;
    padding: 0;
}

.login-sec {
    padding-top: 100px;
    position: relative;
}

.login-block {
    float: left;
    width: 100%;
}

.btn-login {
    background: #0B1637;
    color: #fff;
    font-weight: 600;
}

.signup-card {
    padding-top: 100px;
    -webkit-box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    -webkit-border-radius: 20px;
    width: 25%;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

.landing-page {
    margin-top: 100px;
}

.landing-img {
    width: 100px;
}

#intro {
    width: 100%;
    height: 90vh;
    position: relative;
}

#intro img {
    width: 20%;
}

#intro .intro-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}