
# GoLand
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, build with `go test -c`
*.test

# Dummy Mac OS File
.DS_Store
config/users.yml
config/config.yml

scripts/packer/alpine/output-virtualbox-iso
scripts/packer/alpine/packer_cache
scripts/packer/ubuntu-20.04/packer_cache
scripts/packer/ubuntu-20.04/output-virtualbox-iso

users.yml
