{{ define "content" }}
<div class="container-fluid" id="welcome">
    <section id="intro">
        <div class="intro-content">
            <img src="/assets/img/logo-placeholder.png" alt="Logo">
          <h2>VIRTUALIZED CYBER RANGE PLATFORM</h2>
          <div>
            <p class="sec-description">Change your vision on Cyber Security ! <br><br> Attack, Defend and Monitor your most valuable assets ! </p>
          </div>
      </div>
    </section>

</div>
{{ end }}
