{{define "navbar"}}

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand btn-primary" style="color: white" href="/" >{{ .Data.Name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="fas fa-question"></i> What is this platform ?</a></li>
                <li><a href="#"><i class="fas fa-users"></i> Teams</a></li>
                <li><a href="#"><i class="fas fa-trophy"></i> Leader Board</a></li>
                <li><a href="#"><i class="fas fa-tasks"></i> Scenarios</a></li>
                <li><a href="#"><i class="fab fa-forumbee"></i> Forum</a></li>
            </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link" href="/signup"><span class="fas fa-user"></span> Signup</a></li>
                    <li><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                </ul>
        </div>
    </div>
</nav>
{{end}}
