{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" ⚔️ Virtualized Cyber Range Platform ⚔️ ">
    <link rel="icon" href="http://cybertraining.dk/defatt.png">
    <title>{{.Data.Event.Name}}</title>

    <!-- Tailwind CSS Import-->
    <link href="/assets/css/tailWindDefat.css" rel="stylesheet" > 
    <!-- Font awesome icons -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" > 
</head>
<body>


{{block "content" .}}{{end}}

<!-- FOOTER -->

<!--
Might need to add this back id will test without
<footer class="footer">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2021 Aalborg University &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
-->


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/assets/js/font-awesome.js"></script>

<!-- As bootstrap is replaced with tailwind, this makes alerts dismissible  -->
<script> 
  var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>
</body>
</html>
{{end}}
