{{ define "content" }}
    <!-- Logo in top corner of screen IT is absolote until lg and then hidden  -->
    <div class="absolute hidden md:inline mt-10 ml-10">
        <img src="http://cybertraining.dk/defatt.png" alt="Defatt's Logo" style="max-height: 220px">
    </div>

    <div class="flex flex-col min-h-screen md:h-screen w-screen justify-center items-center place-items-center">
        <div class="grid grid-cols-3 w-11/12 min-h-[75%] h-fit place-items-center bg-zinc-200">
            <div class="col-span-3 md:col-span-1 w-11/12 min-h-[80%] mr-5 pl-5 lg:pl-20">
                {{range $error := .Errors}}
                    <div class="flex justify-between alert-{{$error.Level.String}} border px-4 py-3 rounded relative mb-4" role="alert">
                        {{$error.Message}}
                        <strong class="text-xl align-center cursor-pointer alert-del"> &times; </strong>
                    </div>
                {{end}}
                <p class="text-gray-600 text-xl mb-8"> </p>
                <div class="flex flex-col h-48 p-4 justify-self-end">
                    <a href="#" class="bg-zinc-300 hover:bg-gray-400 text-gray-600 text-center py-6 pl-12 pr-2 rounded shadow-lg mb-10">Situation</a>
                    <a href="#" class="bg-zinc-300 hover:bg-gray-400 text-gray-600 text-center py-6 pl-12 pr-2 rounded shadow-lg ">Attack specificaiton/Location on the system </a>
                </div>
            </div>
            <div class="col-span-3 md:col-span-1 w-full min-h-[80%]">
                <p class="text-gray-600 text-xl mb-8"> Location of the system </p>
                <div class="bg-zinc-300 flex flex-col h-48 p-4">
                    <p class="text-gray-600 text-base">Management network: - - </p>
                    <p class="text-gray-600 text-base">Kibana: </p>
                    <p class="text-gray-600 text-base">TheHive: </p>
                    <p class="text-gray-600 text-base">Networks to defend: </p>
                    <p class="text-gray-600 text-base">Total Number of hosts in the networks: {{ len .Data.Scenario.Hosts }} </p>
                </div>
            </div>
            <div class="col-span-3 md:col-span-1 min-h-[80%]">
                <p class="text-gray-600 text-xl mb-8"> Scenario 1:</p>
                <img class="max-w-full h-auto" src="/assets/img/scenarioImage.png" alt="Scenario 1">
            </div>
            <div class="col-span-3 md:col-span-1 row-span-2 w-11/12 min-h-[80%] mr-5 pl-5 lg:pl-20">
                <p class="text-gray-600 text-xl mb-8 m-3"> Situation </p>
                <div class="bg-zinc-300 flex flex-col h-48 p-4 m-3">
                    <p class="text-gray-600 text-base">DURATION: {{ .Data.Scenario.Duration }</p>
                    <p class="text-gray-600 text-base">ALERT LIMITATIONS: 3</p>
                </div>
            </div>
            <div class="col-span-3 row-span-2 md:col-span-2 md:col-start-2 md:pr-1 lg:pr-20 xl:pr-24 2xl:pr-28">
                <p class="break-all text-gray-600 px-10 md:pl-0 ">
                    {{ .Data.Scenario.StoryBlue }
                </p>
            </div>
            <div class="col-span-3">
                <!-- empty to push up rest -->
            </div>
        </div>


        <div class="flex justify-end mt-16 w-9/12">
            <div class="place-self-center">
                <a href="/start" class="bg-zinc-200 hover:bg-gray-400 text-gray-600 text-center py-6 px-24 rounded shadow-lg mb-44">NEXT &nbsp;&nbsp;  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
{{ end }}
