{{ define "content" }}
    <!-- Logo in top corner of screen IT is absolote until lg and then hidden  -->
    <div class="absolute hidden md:inline  mt-10 ml-10">
       <img src="http://cybertraining.dk/defatt.png" alt="Defatt's Logo" style="max-height: 220px">
    </div>

    <div class="flex flex-col h-screen w-screen justify-center items-center place-items-center">
        {{range $error := .Errors}}
            <div class="flex justify-between alert-{{$error.Level.String}} border px-4 py-3 rounded relative mb-4" role="alert">
                {{$error.Message}}
                <strong class="text-xl align-center cursor-pointer alert-del"> &times; </strong>
            </div>
        {{end}}
        <div class="grid grid-cols-3 w-9/12 h-3/4 place-items-center">

        <!--This is an example text that won't be displayed in the browser-->
            <!--<a href="/panic" class="justify-self-end bg-zinc-200 hover:bg-gray-400 text-xl text-gray-600 text-center py-6 px-12 w-10/12 rounded shadow-lg ml-10 mr-10 mt-10">Hint </a>-->
            <a href="/vpn" class="bg-zinc-200 hover:bg-gray-400 text-xl text-gray-600 text-center py-6 px-12 w-10/12 rounded shadow-lg ml-10 mr-10 mt-10" >Get VPN config</a>
            <a href="/team" class="justify-self-start bg-zinc-200 hover:bg-gray-400 text-xl text-gray-600 text-center py-6 px-12 w-10/12 rounded shadow-lg ml-10 mr-10 mt-10">See the specificaiton again</a>
            <p class="text-3xl text-gray-600 max-w-xl col-span-3"><i class="far fa-clock"></i> - TIME LEFT</p>
            <p hidden id="timer-date">{{ .Data.Event.CreatedAt}}</p>
            <p hidden id="timer-duration"> {{ .Data.Event.Scenario.Duration }} </p>
            <p id="timer" class="text-6xl text-gray-600 max-w-xl col-span-3"></p>
            <p class="text-3xl text-gray-600 max-w-xl col-span-3"><i class="fab fa-bell"></i>  - HINT LEFT</p>
            {{ if (eq .Data.User.Team "red") }}
                <p class="text-6xl text-gray-600 max-w-xl col-span-3 mb-28"> {{ .Data.Event.RedPanicLeft }} </p>
            {{ else }}
                <p class="text-6xl text-gray-600 max-w-xl col-span-3 mb-28"> {{ .Data.Event.BluePanicLeft }} </p>
            {{ end}}
        </div>
    </div>
    <script src="/assets/js/timer.js"></script>
{{ end }}

