{{ define "content" }}
    <!-- Logo in top corner of screen IT is absolote until lg and then hidden  -->
    <div class="absolute hidden md:inline  mt-10 ml-10">
        <img src="./pictures/Logo.png" alt="Logo">
    </div>

    <div class="flex flex-col h-screen w-screen justify-center items-center place-items-center">
        <div class="grid  w-9/12 h-3/4 place-items-center bg-zinc-200">
            <p class="md:mt-24 text-4xl text-gray-600">Hey! what do you want to do?</p>
            <p class="text-gray-600 max-w-xl">Defatt is giving you possibility to enter the Cybersecurity game simulation and join communities of practise in the form of forum. You can have an access to the forum before and after game, but never during. Enjoy!</p>
            <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-600 text-center py-4 px-20 rounded " style="min-width: 300px;">FORUM </a>
            <a href="./stepOne.html" class="bg-gray-300 hover:bg-gray-400 text-gray-600 text-center py-4 px-20 rounded mb-44" style="min-width: 300px;">START GAME</a>
        </div>
    </div>


{{ end }}
