[Interface]
Address = {{.PeerIP }}
PrivateKey = {{.PrivateKeyClient}}
DNS = 1.1.1.1
MTU = 1420

[Peer]
PublicKey = {{.ServerPublicKey}}
AllowedIps = {{.AllowedIPs}}
Endpoint =  {{.Endpoint}}
PersistentKeepalive = 25
