default-lease-time 3600;
max-lease-time 7200;

{{range .Subnets}}
subnet {{.Network}} netmask 255.255.255.0 {
    range {{.Min}} {{.Max}};
    option subnet-mask 255.255.255.0;
    option routers {{.Router}};
}
{{end}}

host SOC {
	hardware ethernet    {{.MAC}};
	fixed-address        {{.FixAddress}};
	max-lease-time       84600;
}