$ORIGIN {{.Domain}}.  ; designates the start of this zone file in the namespace
$TTL 1h               ; default expiration time of all resource records without their own TTL value

; =============================== Resource Records ==============================

@                 IN  SOA     ns.{{.Domain}}. rvm.{{.Domain}}. (
                                  2020010510     ; Serial
                                  1d             ; Refresh
                                  2h             ; Retry
                                  4w             ; Expire
                                  1h)            ; Minimum TTL
@                 IN  A       {{.IPAddress}}        ; Local IPv4 address for example.com.
@                 IN  NS      ns.{{.Domain}}.    ; Name server for example.com.
ns                IN  CNAME   @                  ; Alias for ns.example.com

mail                IN A         {{.IPAddressMail}}  ; Local IPv4 address for mailserver
autodiscover        IN CNAME     {{.DomainMail}}.
autoconfig          IN CNAME     {{.DomainMail}}.
@                   IN MX     10 {{.DomainMail}}.

{{.DomainDC}}.      IN A       {{.IPAddressDC}}
