[Unit]
Description=Initializes Monitoring Tools Wrapped Into Docker Stack

[Service]
EnvironmentFile="/home/vagrant/nap-monitoring/.env"
ExecStart=/usr/local/bin/docker-compose -f /home/vagrant/nap-monitoring/docker-compose.rvm.yml up -d
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target